.app-container {
  display: flex !important;
  flex-direction: column;
  align-items: center;

  padding-top: calc(62px + 2em);
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.search-text {
  display: inline-block;
  font-size: 3rem;
  text-transform: capitalize;
  margin-bottom: 1em;
  align-self: flex-start;
}

.hide-scroll {
  overflow-y: hidden;
}
